@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #eeeeee;
    --header-bg-color: #ffffff;
    --backdrop-color: #f3f3f3;
    --slider-bg-color: #f3f3f3;
    --slider-border-color: black;
    --banner-bg-color: #f3f3f3;
    --banner-border-color: black;

    --title-font-color: black;
    --title-font-family: 'Poppins', sans-serif;
    --title-font-weight: 900;
    --title-font-size: 24px;
    --title-font-background: #f3f3f3;

    --subtitle-font-color: black;
    --subtitle-font-family: 'Poppins', sans-serif;
    --subtitle-font-weight: 600;
    --subtitle-font-size: 14px;
    --subtitle-font-background: #f3f3f3;

    --p-font-color: black;
    --p-font-family: 'Poppins', sans-serif;
    --p-font-weight: 400;
    --p-font-size: 10px;
    --p-font-background: #f3f3f3;
}

body {
    scroll-behavior: smooth;
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

h1 {
    position: relative;
    width: fit-content;
    margin: 50px 70px;
    padding: 30px 100px;
    font-size: 50px;
    background: -webkit-linear-gradient(45deg, #04e100, #9dff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    text-decoration: underline;
}

h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #04ff00, #9eff01);
    border-radius: 20px;
    z-index: -2;
}

h1::before {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: white;
    border-radius: 40px;
    z-index: -1;
}

section#main {
    width: calc(85% - 200px);
    margin: 50px 7.5%;
    padding: 60px 100px;
    background-color: rgb(200, 200, 200);
    box-shadow:
        0 0 0px 0.5px rgba(0, 0, 0, 0.5),
        0 10px 10px -5px rgba(0, 0, 0, 0.4),
        0 15px 40px 3px rgba(0, 0, 0, 0.4),
        0 0 5px inset rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

h2 {
    margin-left: 50px;
    font-size: 35px;
    width: fit-content;
    padding: 20px 50px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: rgb(255, 255, 255, 0.8);
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.order-card {
    margin-top: 30px;
    width: calc(100% - 20px);
    height: 130px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: 0.5s;
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 8px 5px -2.5px rgba(0, 0, 0, 0.5),
        0 5px 15px 2px rgba(0, 0, 0, 0.3);
}

#order-id {
    width: 5%;
    min-width: 50px;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#order-id::before {
    content: '#';
    font-size: 16px;
}

.sub-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sub-container:not(:first-of-type) {
    margin-left: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 10px;
}

#image {
    height: 100px;
    min-width: 100px;
    width: 10%;
    justify-content: center;
    align-items: center;
}

#image img {
    max-height: 100%;
    max-width: 100%;
}

#customer-info {
    width: 35%;
}

#product-info {
    width: 25%;
}

#status-box {
    width: 25%;
}

.order-header {
    font-size: 18px;
    font-weight: 700;
}

.info {
    font-size: 15px;
    margin-top: 4px;
    font-weight: 500;
}

.added-info {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 300;
}

#status {
    color: green;
    font-size: 16px;
    font-weight: 500;
}

form#change-order-status {
    width: 100%;
    display: flex;
    flex-direction: column;
}

form#change-order-status * {
    cursor: pointer;
}

form#change-order-status input {
    width: 10px;
}

form#change-order-status label {
    font-size: 14px;
    font-weight: 300;
}

form#change-order-status label:hover {
    text-decoration: underline;
}

form#change-order-status input:hover+label {
    text-decoration: underline;
}

form#change-order-status button {
    margin-top: 5px;
    align-self: flex-end;
    background: rgb(255, 153, 0);
    border: 1px solid;
    padding: 5px 15px;
}

form#change-order-status button:hover {
    background: rgba(255, 153, 0, 0.5);
}

#customer-name {
    text-transform: capitalize;
}

#total-price::after {
    content: '$';
    font-size: 12px;
}

@media (max-width: 1023px) {
    section#main {
        width: calc(90% - 100px);
        padding: 60px 50px;
        margin: 0 5%;
    }
}