@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #eeeeee;
    --header-bg-color: #ffffff;
    --backdrop-color: #f3f3f3;
    --slider-bg-color: #f3f3f3;
    --slider-border-color: black;
    --banner-bg-color: #f3f3f3;
    --banner-border-color: black;

    --title-font-color: black;
    --title-font-family: 'Poppins', sans-serif;
    --title-font-weight: 900;
    --title-font-size: 24px;
    --title-font-background: #f3f3f3;

    --subtitle-font-color: black;
    --subtitle-font-family: 'Poppins', sans-serif;
    --subtitle-font-weight: 600;
    --subtitle-font-size: 14px;
    --subtitle-font-background: #f3f3f3;

    --p-font-color: black;
    --p-font-family: 'Poppins', sans-serif;
    --p-font-weight: 400;
    --p-font-size: 10px;
    --p-font-background: #f3f3f3;
}

html,
body {
    scroll-behavior: smooth;
    margin: 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

/*BREAD CRUMB*/
.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    margin-left: 100px;
}

.breadcrumb * {
    text-transform: capitalize;
    font-weight: 500;
}

.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: rgb(0, 110, 255);
}

.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(0, 0, 0);
    content: "/\00a0";
    font-weight: 200;
}

.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

/*-----MAIN-----*/
/*title*/
h1 {
    margin: 50px 150px;
    font-size: 50px;
}

/*left navbar*/
.left-nav {
    position: fixed;
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}

.left-nav span {
    font-size: 19px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 20px;
}

.left-nav-item {
    display: flex;
    text-decoration: none;
    font-size: 22px;
    color: #000000;
    padding: 5px 20px;
    margin: 20px 20px;
}

.left-nav-item:hover::before {
    content: '→';
    font-weight: 800;
    margin-right: 10px;
}


/*main*/
section#main {
    margin-left: 300px;
    margin-right: 5%;
    background-color: white;
    padding: 50px;
}

.main-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sub-container{
    margin-top: 50px;
}

h2 {
    margin-left: 100px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.info-box {
    margin: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.info {
    margin: 20px 0;
    font-size: 17px;
}

.container {
    display: flex;
    align-items: center;
}

.container .info-box {
    margin-left: 50px;
}

.container .info {
    margin: 30px 0;
}

.profile-image {
    max-width: 250px;
    max-height: 250px;
    background-color: #dfdfdf;
}

.profile-image img {
    min-width: 200px;
    min-height: 100%;
}

.added-info {
    margin-left: 10px;
    font-size: 18px;
}

.main-container#log-out button {
    height: 50px;
    width: 100px;
    margin: 30px;
    background-color: rgb(255, 70, 70);
    color: white;
    border: 5px outset rgb(255, 130, 130);
    font-weight: 700;
}

.main-container#log-out button:hover {
    opacity: 1.5;
    background-color: rgb(255, 0, 0);
    border: 5px outset rgb(255, 104, 104);
}

.main-container#log-out button:active {
    border: 5px inset rgb(255, 104, 104);
}

.hidden {
    display: none;
}

@media (max-width: 1023px) {
    .left-nav {
        display: none;
    }

    section#main {
        margin-left: 5%;
        width: calc(90% - 100px);
    }
}